version: '3.8'

services:

  mysql:
    image: mysql:8
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: hotel_db
    ports:
      - "3306:3306"

  service-registry:
    build: ./service-registry/service-registry
    container_name: service-registry
    ports:
      - "8761:8761"

  authentication:
    build: ./authentication/authentication
    container_name: authentication
    depends_on:
      - mysql
      - service-registry
    ports:
      - "8081:8081"

  api-gateway:
    build: ./api-gateway/api-gateway
    container_name: api-gateway
    depends_on:
      - service-registry
    ports:
      - "5555:5555"

  bookingservice:
    build: ./bookingservice
    container_name: bookingservice
    depends_on:
      - mysql
      - service-registry
    ports:
      - "9092:9092"

  paymentservice:
    build: ./paymentservice
    container_name: paymentservice
    depends_on:
      - mysql
      - service-registry

  propertyservice:
    build: ./propertyservice
    container_name: propertyservice
    depends_on:
      - mysql
      - service-registry
    ports:
      - "9091:9091"

  notificationservice:
    build: ./notificationservice
    container_name: notificationservice
    depends_on:
      - service-registry
    ports:
      - "9095:9095"

